@include keyframes(slideOut) {
	0% {
		left: 0;
	}

	100% {
		left: 100%;
	}
}

@include keyframes(slideIn) {
	0% {
		left: 100%;
	}

	100% {
		left: 0;
	}
}

@include keyframes(fadeOut) {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}